@import "tailwindcss";
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #57534e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #78716c;
}
